@using App.Domain.Entities
@using App.Infra.Implementation.Filter
@model Paginate<UserEntity>

<div class="row row-cards">
    @foreach (var user in Model.Items)
    {
        <div class="col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body p-4 text-center">
                    <span class="avatar avatar-xl mb-3 rounded" style="background-image: url(@user.Avatar)"></span>
                    <h3 class="m-0 mb-1"><a href="#">@user.Name @user.Surname</a></h3>
                    <div class="text-secondary">@user.Email</div>
                    <div class="mt-3">
                        <span class="badge bg-purple-lt">@user.Username</span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>